.input-block {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;

    margin: 0 0.25rem;
}

.input-block label {
    line-height: 1.5rem;

    font-size: 1.25rem;

    margin-top: 0.5rem;
}

.input-block input {
    height: 2.5rem;
    width: 6rem;

    font-size: 2rem;

    text-align: center;

    border: 0 solid white;
    border-left-width: 2px;
    border-right-width: 2px;

    border-radius: calc(2.5rem / 4);

    margin: 0.5rem 0;

    background-color: rgba(0, 0, 0, 0.1);

    color: white;
}

.input-block input:disabled {
    border-left-color: black;
    border-right-color: black;

    background-color: rgba(0, 0, 0, 0.5);
}

.input-block input:focus {
    outline: 0;

    border-bottom-width: 2px;
}
